
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "../../node_modules/bootstrap/scss/functions";

$primary: #0074d9;
$input-btn-padding-y:.5rem;
$input-btn-padding-x:1rem;
$input-border-width: 2px;
$input-focus-border-color:$primary;
$input-focus-box-shadow:0;
$btn-focus-box-shadow:#0074d9;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
body{
    font-family: 'Lato', sans-serif;
}

.index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.font-weight-700{
    font-weight: 700;   
};

.font-size-1{
    font-size: 1rem;
};

.font-size-2{
    font-size: .8rem;
}

.font-size-3{
    font-size: .75rem;
}

// .field-error{
//     visibility: hidden;
// }

// 2c82d7