@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');


body{
    font-family: 'Outfit', sans-serif;
}

.index-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}